comment "Debugging Feature"
menuconfig SEC_DEBUG
    bool "Samsung TN Ramdump Feature"
    default y
    help
      Samsung TN Ramdump Feature. Use INFORM3 and magic number at 0xc0000000.

config SEC_LOG
	default n
	bool "Enable support for sec_log" if EMBEDDED
	depends on PRINTK
	help
	  This option enables sec_log support. This provides combined
	  log buffer for both bootloader and kernel. It also preserves
	  previous content before reboot.

config SEC_LOG_NONCACHED
	default n
	bool "Enable non cached kernel sec_log support" if EMBEDDED
	depends on SEC_LOG
	help
	  This option enables sec_non_cached_klog support.  It can
	  support non-cached kernel log in RAM dump and We don't need
	  to concern cache flush status for analyzing sudden lockup
	  issue.

config SEC_LOG_LAST_KMSG
	default n
	bool "Enable /proc/last_kmsg support" if EMBEDDED
	depends on SEC_LOG
	help
	  This option enables /proc/last_kmsg support.

config SEC_AVC_LOG
	default n
	bool "Enable avc audit log support" if EMBEDDED
	depends on SEC_LOG
	help
	  This option enables additional log buffer for audit log.

config SEC_DEBUG_TSP_LOG
	default n
	bool "Enable tsp log support" if EMBEDDED
	depends on SEC_LOG
	help
	  This option enables additional log buffer for tsp log.

config SEC_DEBUG_TIMA_LOG
	default y
	bool "Enable tima log support" if EMBEDDED
	depends on SEC_LOG
	help
	  This option enables additional log buffer for tima log.

config SEC_DEBUG_PMU_LOG
	default n
	bool "Enable pmu log support" if EMBEDDED
